.trendy_article
  画像
.popular_categories
  .heading_line
    人気のカテゴリー
  %ul.menu
    %li.menu__item
      = link_to "レディース", '#'
    %li.menu__item
      = link_to "メンズ", '#'
    %li.menu__item
      = link_to "家電・スマホ・カメラ", '#'
    %li.menu__item
      = link_to "おもちゃ・ホビー・グッズ", '#'
  
.new_items
  .ladies
    .Ladies_new_items
      レディース新着アイテム
      .Ladies_new_items__more
        = link_to "もっと見る ＞", '#' 
    .ladies_largebox
      .ladies_box
        = link_to '画像1', '#', class: 'ladies_box'  
      .ladies_box
        画像2
      .ladies_box
        画像3
      .ladies_box
        画像4
      .ladies_box
        画像5
      .ladies_box
        画像6
      .ladies_box
        画像7
      .ladies_box
        画像8
      .ladies_box
        画像9
      .ladies_box
        画像10

    
  .mens
    .mens_new_items
      メンズ新着アイテム
      .mens_new_items__more
        もっと見る >
  .electrical
    .electrical_appliances_new_items
      家電・スマホ・カメラ新着アイテム
      .electrical_appliances_new_items__more
        もっと見る >
  .toys
    .toys_new_items
      おもちゃ・ホビー・グッズ新着アイテム
      .toys_new_items__more
        もっと見る >