.trendy_box
  = link_to '#' do
    .trendy_article
      = image_tag('//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464', width: '680px', height: '390px')
      .back_button
        ＜
      .forward_button
        ＞
.popular_categories
  .heading_line
    人気のカテゴリー
  %ul.menu
    %li.menu__item
      = link_to "レディース", '#'
    %li.menu__item
      = link_to "メンズ", '#'
    %li.menu__item
      = link_to "家電・スマホ・カメラ", '#'
    %li.menu__item
      = link_to "おもちゃ・ホビー・グッズ", '#'
  
.new_items
  .category
    .category_new_items
      レディース新着アイテム
      .category_new_items__more
        = link_to "もっと見る ＞", '#' 
    .category_largebox
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？  
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？

    
  .category
    .category_new_items
      メンズ新着アイテム
      .category_new_items__more
        = link_to "もっと見る ＞", '#' 
    .category_largebox
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？    
      
   
  .category
    .category_new_items
      家電・スマホ・カメラ新着アイテム
      .category_new_items__more
        = link_to "もっと見る ＞", '#'
    .category_largebox
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？ 
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？  
  .category
    .category_new_items
      おもちゃ・ホビー・グッズ新着アイテム
      .category_new_items__more
        = link_to "もっと見る ＞", '#'
    .category_largebox
      .category_box
        = link_to '#' do
          = image_tag("https://static.mercdn.net/thumb/photos/m75126271212_1.jpg?1569306748", width: '185px', height: '185px')
          .price
            ¥1,500
            .product_name
              靴下なのか？ストッキングだろうか？どうなんだろうか？んー？ 