.header
  .header__top
    .header__logo
      %a{href: "/"}
        %img.mercari-logo{alt: "Mercari", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
    .header__search
      %form
        %input.form__keyword{placeholder: "何かお探しですか？"}
          %label.form__keyword-search
          = link_to '#', class: 'form__keyword-search' do
            = fa_icon 'search', class: 'search-icon'
  .header__bottom
    .header__bottom-search
      .header__category
        = link_to '#' do
          = fa_icon 'list', class: 'icon'
          カテゴリーから探す
      .header__brand
        = link_to '#' do
          = fa_icon 'tag', class: 'icon'
          ブランドから探す
    .header__bottom-user-function
      = link_to purchases_path, class: 'header__new-user' do
        新規会員登録
      = link_to '#', class: 'header__login-user' do
        ログイン